<!-- Main Content -->

<section id="main_content">
    <div class="container">
        <!-- Info restaurant -->
        <div class="thumbnail full_content">

            <div class="row">
                <div class="btn-group btn-group-justified breadcrumb_payment">
                    <div class="btn-group">
                        <a translate="delivery.menu" href="#/menu" type="button" class="btn disabled">Menu</a>
                    </div>
                    <div class="btn-group">
                        <a translate="delivery.delivery" href="#/delivery" type="button" class="btn btn-default">DIRECCIÓN</a>
                    </div>
                    <div class="btn-group">
                        <a translate="delivery.resume" href="#/resume" type="button" class="btn disabled">Resumen</a>
                    </div>
                </div>

                <div class="container">
                    <div class="col-md-2 dark_moto"></div>
                    <div class="col-md-offset-1 col-md-6 col-md-offset-3 transport_resum">

                        <h1 translate="delivery.title">DIRECCIÓN</h1>

                        <i translate="delivery.zip.label">Ejemplo: Gran Via, 12 1ero, Barcelona</i>
                        <div class="form-group">
                            <input ng-model="order.zip.code" type="text" class="form-control" placeholder="{{ 'delivery.zip.example' | translate }}"/>
                        </div>

                        <i translate="delivery.address.label">Ejemplo: Gran Via, 12 1ero, Barcelona</i>
                        <div class="form-group">
                            <input ng-model="order.address" type="text" class="form-control" placeholder="{{ 'delivery.address.example' | translate }}"/>
                        </div>
                        <div class="form-group">
                            <button translate="delivery.prev" ng-click="menu(order.restaurant)" type="button" class="btn transition02 prev_step">ANTERIOR</button>
                            <button translate="delivery.next" ng-click="delivery(order.restaurant)" type="button" class="btn transition02 next_step">siguiente</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Main Footer -->

<footer id="main_footer">

    <div class="container">

        <div class="row">

            <div class="col-sm-6">

                <ul class="social">
                    <li><a href=""><img src="images/facebook.png" alt="Japan at home | Facebook" title="Japan at home | Facebook" /></a></li>
                    <li><a href=""><img src="images/twitter.png"  alt="Japan at home | Twitter" title="Japan at home | Twitter" /></a></li>
                    <li><a href=""><img src="images/googleplus.png" alt="Japan at home | Google+" title="Japan at home | Google+" /></a></li>
                </ul>

            </div>
            <div class="col-sm-6 text-right legales">

                JAPAN AT HOME - <a href="mailto:info@japanathome.es">info@japanathome.es</a><br/>
                <a href="">Política de privacidad</a> | <a href="#/legal">Aviso Legal</a> | <a href="">Política de cookies</a>

            </div>


        </div>


    </div>

</footer>
