<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 translate="errors.title">Error Page!</h1>

            <div ng-switch="authenticated" ng-show="errorMessage">
                <div class="alert alert-success" ng-switch-when="true"
                     translate="{{errorMessage}}" translate-values="{username: '{{account.login}}'}">
                    You are logged in as user "Admin".
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Footer -->

<footer id="main_footer">

    <div class="container">

        <div class="row">

            <div class="col-sm-6">

                <ul class="social">
                    <li><a href=""><img src="images/facebook.png" alt="Japan at home | Facebook" title="Japan at home | Facebook" /></a></li>
                    <li><a href=""><img src="images/twitter.png"  alt="Japan at home | Twitter" title="Japan at home | Twitter" /></a></li>
                    <li><a href=""><img src="images/googleplus.png" alt="Japan at home | Google+" title="Japan at home | Google+" /></a></li>
                </ul>

            </div>
            <div class="col-sm-6 text-right legales">

                JAPAN AT HOME - <a href="mailto:info@japanathome.es">info@japanathome.es</a><br/>
                <a href="">Política de privacidad</a> | <a href="#/legal">Aviso Legal</a> | <a href="">Política de cookies</a>

            </div>


        </div>


    </div>

</footer>

