<!-- Main Content top -->

<section id="main_content_top">
    <div class="container">
        <div class="row text-center">

            <h1 translate="home.title">Pide comida japonesa a domicilio</h1>

            <div class="col-md-offset-2 col-md-8 search">
                <div class="col-md-3">
                    <!--<img src="images/japan-at-home-sushi-modal.png" class="img-responsive pull-right" alt="JAPAN AT HOME" title="JAPAN AT HOME" style="height: 70px;">-->
                </div>
                <div class="form-group text-center col-md-6">
                    <label>
                        <h3 translate="home.subtitle">Tu código postal</h3>
                    </label>
                    <input type="text" class="form-control" name="zip" ng-model="search.zip.code">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Content -->

<section id="main_content">
    <div class="container">
        <div class="row">

            <div ng-repeat="restaurant in restaurants | filter:search.zip.code" class="col-md-3 col-sm-4">
                <a href ng-click="menu(restaurant)">
                    <div class="thumbnail restaurant_thmb">
                        <img ng-src="{{restaurant.logo}}" class="img-responsive" alt="JAPAN AT HOME | Name restaurant" title="JAPAN AT HOME | Name restaurant">
                        <caption>
                            <h4 ng-bind="restaurant.name">Sushi Bo</h4>
                            <p ng-bind="restaurant.address">Passatge Lluis Pellicer 20, Barcelona</p>
                            <p class="precio_medio">
                                <s translate="home.price" class="precio_medio">Precio medio:</s>
                                <span ng-bind='restaurant.price'>22</span>
                                <span>€</span>
                            </p>
                            <button translate="home.menu" type="button" class="btn transition02">Ver carta</button>
                        </caption>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

<!-- Main Newsletters -->

<section id="main_newsletters">

    <div class="container">

        <h2 translate="home.suggestion.title">¿Hechas de menos tu restaurante favorito?</h2>
        <p translate="home.suggestion.subtitle">Contacta con nosotros y mándanos tu sugerencia,<br>el equipo de Japan at Home hara lo posible para que puedas disfrutar de él.</p>

        <div ng-controller="SuggestController" ng-switch="authenticated">

            <div ng-switch-when="false" class="input-group text-center">
                <input ng-model="suggestion.email" type="text" class="form-control text-center" placeholder="Escribe tu email aquí">
            </div>

            <div class="input-group text-center">
                <input ng-model="suggestion.description" type="text" class="form-control text-center" placeholder="Nombre del restaurante">
            </div>

            <button translate="home.suggestion.button" data-toggle="modal" data-target="#thanksModal" ng-click="suggest(suggestion)" type="button" class="btn">Enviar sugerencia</button>
        </div>

    </div>
</section>

<!-- Main Help -->

<section id="main_help">
    <div class="container">
        <div class="row">

            <div class="col-md-12 title">
                <h3 translate="home.help.title">¿Necesitas ayuda?</h3>
            </div>

            <div class="col-md-4 help_item">
                <div class="thumbnail">

                    <h4 translate="home.help.step1.title">JAPAN AT HOME</h4>
                    <p translate="home.help.step1.description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient</p>
                    <div class="help_noodles"></div>

                </div>
            </div>

            <div class="col-md-4 help_item">
                <div class="thumbnail">

                    <h4 translate="home.help.step2.title">JAPAN AT HOME</h4>
                    <p translate="home.help.step2.description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient</p>
                    <div class="help_enter"></div>

                </div>
            </div>

            <div class="col-md-4 help_item">
                <div class="thumbnail">

                    <h4 translate="home.help.step3.title">JAPAN AT HOME</h4>
                    <p translate="home.help.step3.description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient</p>
                    <div class="help_moto"></div>

                </div>
            </div>

        </div>
    </div>
</section>
