<!-- Main Content top -->

<section id="main_content_top">
    <div class="container">
        <div class="row text-center">

            <h1 class="big" translate="home.title">Pide comida japonesa a domicilio</h1>

        </div>
    </div>
</section>

<section id="main_content_search">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-offset-4 col-md-4 col-md-offset-4">
                <h3 translate="home.subtitle">Tu código postal</h3>
                <input type="text" class="form-control text-center zip-form-control" name="zip" ng-model="order.zip.code" placeholder="{{ 'home.placeholder' | translate }}">
            </div>
        </div>
    </div>
</section>
<!-- Main Content -->
<section id="main_content">
    <div class="row">

        <div ng-repeat="restaurant in restaurants | filter:order.zip.code" class="col-md-3 col-sm-6 col-xs-12">
            <a href ng-click="menu(restaurant)">
                <div class="thumbnail restaurant_thmb">
                    <img ng-src="{{restaurant.logo}}" class="img-responsive" alt="JAPAN AT HOME | Name restaurant" title="JAPAN AT HOME | Name restaurant">
                    <caption>
                        <h2 class="basic-color" ng-bind="restaurant.name">Sushi Bo</h2>
                        <div ng-bind="restaurant.address">Passatge Lluis Pellicer 20, Barcelona</div>
                        <div class="row">
                            <span translate="home.price">Precio medio:</span>
                            <span ng-bind='restaurant.minPrice'>22</span>
                            <span>€</span>
                        </div>
                        <button translate="home.menu" type="button" class="btn transition02">Ver carta</button>
                    </caption>
                </div>
            </a>
        </div>

    </div>
</section>