<!-- Main Content -->

<section id="main_content">
    <div class="container">
        <div class="row">

            <!-- Info restaurant -->

            <div class="col-md-12">
                <div class="thumbnail full_content text-center">

                    <h2 translate="ko.title">Tu pedido no se ha podido completar</h2>
                    <br/>

                    <p translate="ko.description">Tu banco nos ha notificado un error en tu pago y el pedido ha sido cancelado.</p>

                </div>
            </div>

        </div>
    </div>
</section>

<!-- Main Newsletters -->

<section id="main_newsletters">

    <div class="container">

        <h2 translate="home.suggestion.title">¿Hechas de menos tu restaurante favorito?</h2>
        <p translate="home.suggestion.subtitle">Contacta con nosotros y mándanos tu sugerencia,<br>el equipo de Japan at Home hara lo posible para que puedas disfrutar de él.</p>

        <div ng-controller="SuggestController" ng-switch="authenticated">

            <div ng-switch-when="false" class="input-group text-center">
                <input ng-model="suggestion.email" type="text" class="form-control text-center" placeholder="Escribe tu email aquí">
            </div>

            <div class="input-group text-center">
                <input ng-model="suggestion.description" type="text" class="form-control text-center" placeholder="Nombre del restaurante">
            </div>

            <button translate="home.suggestion.button" data-toggle="modal" data-target="#thanksModal" ng-click="suggest(suggestion)" type="button" class="btn">Enviar sugerencia</button>
        </div>

    </div>
</section>

<!-- Main Help -->

<section id="main_help">
    <div class="container">
        <div class="row">

            <div class="col-md-12 title">
                <h3 translate="home.help.title">¿Necesitas ayuda?</h3>
            </div>

            <div class="col-md-4 help_item">
                <div class="thumbnail">

                    <h4 translate="home.help.step1.title">JAPAN AT HOME</h4>
                    <p translate="home.help.step1.description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient</p>
                    <div class="help_noodles"></div>

                </div>
            </div>

            <div class="col-md-4 help_item">
                <div class="thumbnail">

                    <h4 translate="home.help.step2.title">JAPAN AT HOME</h4>
                    <p translate="home.help.step2.description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient</p>
                    <div class="help_enter"></div>

                </div>
            </div>

            <div class="col-md-4 help_item">
                <div class="thumbnail">

                    <h4 translate="home.help.step3.title">JAPAN AT HOME</h4>
                    <p translate="home.help.step3.description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient</p>
                    <div class="help_moto"></div>

                </div>
            </div>

        </div>
    </div>
</section>

<!-- Main Footer -->

<footer id="main_footer">

    <div class="container">

        <div class="row">

            <div class="col-sm-6">

                <ul class="social">
                    <li><a href=""><img src="images/facebook.png" alt="Japan at home | Facebook" title="Japan at home | Facebook" /></a></li>
                    <li><a href=""><img src="images/twitter.png"  alt="Japan at home | Twitter" title="Japan at home | Twitter" /></a></li>
                    <li><a href=""><img src="images/googleplus.png" alt="Japan at home | Google+" title="Japan at home | Google+" /></a></li>
                </ul>

            </div>
            <div class="col-sm-6 text-right legales">

                JAPAN AT HOME - <a href="mailto:info@japanathome.es">info@japanathome.es</a><br/>
                <a href="">Política de privacidad</a> | <a href="#/legal">Aviso Legal</a> | <a href="">Política de cookies</a>

            </div>


        </div>


    </div>

</footer>
