
	<!-- Main Content top -->
	
	<section id="main_content_top">
		<div class="container">
			<div class="row">
				
				<!-- Title / The recomendamos -->
				
				<div class="col-md-12 title">
					<h3><span class="title_sushi"></span>Home / <a href="">AUTENTICACIÓN</a></h3>
				</div>

			</div>
		</div>
	</section>
	
	
	<!-- Main Content -->
	
	<section id="main_content">
		<div class="container">
			<div class="row">
				
				<!-- Info restaurant -->
				
				<div class="col-md-12">
					<div class="thumbnail full_content">
						
						<div class="btn-group btn-group-justified breadcrumb_payment">
						  <div class="btn-group">
						    <button type="button" class="btn btn-default">Resumen pedido</button>
						  </div>
						  <div class="btn-group">
						    <button type="button" class="btn btn-default">Login</button>
						  </div>
						  <div class="btn-group">
						    <button type="button" class="btn btn-default disabled">Transporte</button>
						  </div>
						  <div class="btn-group">
						    <button type="button" class="btn btn-default disabled">Pago</button>
						  </div>
						</div>
						
						<h1>AUTENTICACIÓN</h1>
						
						<p>Debe estar registrado para poder finalizar un pedido.<br>Entre con sus datos o si aun no dispone de cuenta en Japan at home, registrese y disfrute de la mejor comida japonesa.</p>
						
						
						<!-- Login + Signin -->
						
						<div class="row">
							
							<div class="col-md-1"></div>
							<div class="col-md-5">
								<div class="payment_signin thumbnail">
									
									<h1>REGISTRATE</h1>
									<p>Escriba su correo electrónico para crear su cuenta</p>
									<input type="email" class="form-control" placeholder="Text input">
									<a href="index.php?template=transport"><button type="submit" class="btn btn-primary dark">ACEPTAR</button></a>
									
								</div>
							</div>
							
							<div class="col-md-5">
								<div class="payment_login thumbnail">
									
									<h1>ENTRAR</h1>
									<p>Entra tus datos si ya tienes cuenta</p>
									<input type="email" class="form-control" placeholder="Text input">
									<input type="password" class="form-control" placeholder="Text input">
									
									<br>
									
									<p>¿Olvidaste tu contraseña?</p>
									<a href="index.php?template=transport"><button type="submit" class="btn btn-primary orange">ACEPTAR</button></a>
									
								</div>
							</div>
							<div class="col-md-1"></div>
							
						</div>
										
					</div>
				</div>

			</div>
		</div>
	</section>
	
	<!-- Main Newsletters -->
	
	<section id="main_newsletters">
		<div class="container">
			
			<h2>Newsletters</h2>
			<p>Subscribete a nuestras newsletters para estar al dia de las noticias sobre Japan at home</p>
			
			<div class="input-group">
				<input type="email" class="form-control" placeholder="Escriba su E-mail aquí">
				<span class="input-group-addon search_icon"></span>
			</div>
			
			<button type="button" class="btn">Aceptar</button>
			
		</div>
	</section>
	
	
	<!-- Main Help -->
	
	<section id="main_help">
		<div class="container">
			<div class="row">
				
				<div class="col-md-12 title">
					<h3><span class="title_sushi"></span>¿Necesitas ayuda?</h3>
				</div>
				
				<div class="col-md-4 help_item">
					<div class="thumbnail">
						
						<h4>JAPAN AT HOME</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient</p>
						<div class="help_noodles"></div>
						
					</div>
				</div>
				
				<div class="col-md-4 help_item">
					<div class="thumbnail">
						
						<h4>JAPAN AT HOME</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient</p>
						<div class="help_enter"></div>
						
					</div>
				</div>
				
				<div class="col-md-4 help_item">
					<div class="thumbnail">
						
						<h4>JAPAN AT HOME</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient</p>
						<div class="help_moto"></div>
						
					</div>
				</div>
								
			</div>
		</div>
	</section>