<!-- Main Content -->

<section id="main_content">
    <div class="container">
        <div class="thumbnail full_content">

            <div class="row">
                <div class="btn-group btn-group-justified breadcrumb_payment">
                    <div class="btn-group">
                        <a translate="delivery.menu" href="#/menu" type="button" class="btn btn-default">Menu</a>
                    </div>
                    <div class="btn-group">
                        <a translate="delivery.delivery" href="#/delivery" type="button" class="btn disabled">DIRECCIÓN</a>
                    </div>
                    <div class="btn-group">
                        <a translate="delivery.resume" href="#/resume" type="button" class="btn disabled">Resumen</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row scroll-content">

            <!-- Info restaurant -->

            <div class="col-md-4 col-sm-4">

                <div class="thumbnail restaurant_menu">

                    <h1 translate="menu.cart.title">TU MENU</h1>

                    <hr/>

                    <div class="row" ng-repeat="item in order.items">
                        <div class="col-md-1 basic-color">x{{item.quantity}}</div>
                        <div class="col-md-7 truncate text-left">{{item.product.name}}</div>
                        <div class="col-md-2 text-right">{{item.product.price}}€</div>
                        <div class="col-md-1 text-left"><span ng-click="removeItem(item)" class="glyphicon glyphicon-trash basic-color"></span></div>
                    </div>

                    <hr/>

                    <div class="row cart-total">
                        <div class="col-md-6 text-right" translate="menu.cart.total">TOTAL</div>
                        <div class="col-md-6 text-left basic-color">{{ total() }}€</div>
                    </div>

                    <a href="#/restaurant/{{restaurant.id}}/{{restaurant.shortName}}/delivery">
                        <button translate="menu.cart.button" type="button" class="btn transition02">FINALIZAR PEDIDO</button>
                    </a>
                </div>

            </div>

            <!-- Info restaurant -->

            <div class="col-md-8 col-sm-8">
                <div class="thumbnail restaurant_menu">

                    <h1 translate="menu.title" translate-values="{name: '<strong>{{restaurant.name}}</strong>'}">
                        RESTAURANTE <span>SUSHI BO</span>
                    </h1>
                    <div class="noodles_dark"></div>

                    <div class="row space-top-menu">

                        <p class="menu-howto"></p>

                        <div class="panel-group">

                            <div ng-repeat="category in categories" class="panel panel-default" ng-click="selected = !selected">
                                <h3 data-toggle="collapse" data-parent="#accordion" href="#{{category.id}}">
                                    <span class="caret" ng-class="{'caret-down': selected }"></span> &nbsp; {{category.name}}
                                </h3>
                                <div id="{{category.id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="col-md-12" ng-repeat="product in products | filter:{ tag: category.id }"
                                             ng-class="{ 'item_selected': product.selected }">
                                            <div class="col-md-9 col-xs-9 product_name">{{product.name}}</div>
                                            <div class="col-md-3 col-xs-3 product_pvp">{{product.price}}€
                                                <span ng-click="addItem(product)" class="transition02 glyphicon glyphicon-plus-sign"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div translate="menu.iva" class="col-md-12 info_iva">* TODOS LOS PRECIOS SON CON I.V.A</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>