<!-- Main Content -->

<section id="main_content">
    <div class="container">
        <div class="row scroll-content">

            <!-- Info restaurant -->

            <div class="col-md-3 col-sm-4">

                <div class="thumbnail cart my-sticky-element">

                    <h3 translate="menu.cart.title"><span class="title_sushi"></span>TU MENU</h3>

                    <div ng-repeat="item in order.items">
                        <div class="col-md-12 col-sm-12 col-xs-12 product">{{item.product.name}}</div>
                        <div class="col-md-1 col-sm-2 col-xs-2 product amount">x{{item.quantity}}</div>
                        <div class="col-md-9 col-sm-8 col-xs-8 product amount price">{{item.product.price}}€</div>
                        <div class="col-md-1 col-sm-2 col-xs-2 remove"><span ng-click="removeItem(item)" class="transition02 glyphicon glyphicon-minus-sign"></span></div>
                    </div>

                    <div class="clearfix"></div><hr>

                    <div translate="menu.cart.total" class="col-md-6 col-sm-6 col-xs-6 cart_total">TOTAL</div>
                    <div class="col-md-6 col-sm-6 col-xs-6 cart_total_pvp">{{ total() }}€</div>


                    <a href="#/restaurant/{{restaurant.id}}/{{restaurant.shortName}}/delivery"><button translate="menu.cart.button" type="button" class="btn transition02">FINALIZAR PEDIDO</button></a>
                </div>

            </div>

            <!-- Info restaurant -->

            <div class="col-md-9 col-sm-8">
                <div class="thumbnail restaurant_menu">

                    <h2 translate="menu.title" translate-values="{name: '{{restaurant.name}}'}">RESTAURANTE <span>SUSHI BO</span></h2>
                    <div class="noodles_dark"></div>

                    <div class="row space-top-menu">

                        <p class="menu-howto"></p>

                        <div class="panel-group">

                            <div ng-repeat="category in categories" class="panel panel-default" ng-click="selected = !selected">
                                <h3 data-toggle="collapse" data-parent="#accordion" href="#{{category.id}}">
                                    <span class="caret" ng-class="{'caret-down': selected }"></span> &nbsp; {{category.name}}
                                </h3>
                                <div id="{{category.id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div ng-repeat="product in products | filter:{ tag: category.id }">
                                            <div class="col-md-9 col-xs-9 product_name">{{product.name}}</div>
                                            <div class="col-md-3 col-xs-3 product_pvp">{{product.price}}€<span ng-click="addItem(product)" class="transition02 glyphicon glyphicon-plus-sign" ></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div translate="menu.iva" class="col-md-12 info_iva">* TODOS LOS PRECIOS SON CON I.V.A</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Main Footer -->

<footer id="main_footer">

    <div class="container">

        <div class="row">

            <div class="col-sm-6">

                <ul class="social">
                    <li><a href=""><img src="images/facebook.png" alt="Japan at home | Facebook" title="Japan at home | Facebook" /></a></li>
                    <li><a href=""><img src="images/twitter.png"  alt="Japan at home | Twitter" title="Japan at home | Twitter" /></a></li>
                    <li><a href=""><img src="images/googleplus.png" alt="Japan at home | Google+" title="Japan at home | Google+" /></a></li>
                </ul>

            </div>
            <div class="col-sm-6 text-right legales">

                JAPAN AT HOME - <a href="mailto:info@japanathome.es">info@japanathome.es</a><br/>
                <a href="">Política de privacidad</a> | <a href="#/legal">Aviso Legal</a> | <a href="">Política de cookies</a>

            </div>


        </div>


    </div>

</footer>
