<section id="main_help">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 translate="password.title" translate-values="{username: '{{account.login}}'}">Password for [<b>{{account.login}}</b>]</h1>

                <div class="alert alert-success" ng-show="success" translate="password.messages.success">
                    <strong>Password changed!</strong>
                </div>
                <div class="alert alert-danger" ng-show="error"  translate="password.messages.error">
                    <strong>An error has occured!</strong> The password could not be changed.
                </div>

                <div class="alert alert-danger" ng-show="doNotMatch" translate="global.messages.error.dontmatch">
                  The password and its confirmation do not match!
                </div>

                <form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

                    <div class="form-group">
                        <label translate="global.form.newpassword">New password</label>
                        <input type="password" class="form-control" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                               ng-model="password" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.password.$dirty && form.password.$invalid">
                            <p class="help-block"
                                   ng-show="form.password.$error.required" translate="global.messages.validate.newpassword.required">
                                Your password is required.
                            </p>
                            <p class="help-block"
                                   ng-show="form.password.$error.minlength" translate="global.messages.validate.newpassword.minlength">
                                Your password is required to be at least 5 characters
                            </p>
                            <p class="help-block"
                                   ng-show="form.password.$error.maxlength" translate="global.messages.validate.newpassword.maxlength">
                                Your password cannot be longer than 50 characters
                            </p>
                        </div>
                        <password-strength-bar password-to-check="password"></password-strength-bar>
                    </div>
                    <div class="form-group">
                        <label translate="global.form.confirmpassword">New password confirmation</label>
                        <input type="password" class="form-control" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                               ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                            <p class="help-block"
                                   ng-show="form.confirmPassword.$error.required" translate="global.messages.validate.confirmpassword.required">
                                Your password confirmation is required.
                            </p>
                            <p class="help-block"
                                   ng-show="form.confirmPassword.$error.minlength" translate="global.messages.validate.confirmpassword.minlength">
                                Your password confirmation is required to be at least 5 characters
                            </p>
                            <p class="help-block"
                                   ng-show="form.confirmPassword.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                                Your password confirmation cannot be longer than 50 characters
                            </p>
                        </div>
                    </div>

                    <button type="submit" ng-disabled="form.$invalid" class="btn" translate="password.form.button">Save</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Main Footer -->

<footer id="main_footer">

    <div class="container">

        <div class="row">

            <div class="col-sm-6">

                <ul class="social">
                    <li><a href=""><img src="images/facebook.png" alt="Japan at home | Facebook" title="Japan at home | Facebook" /></a></li>
                    <li><a href=""><img src="images/twitter.png"  alt="Japan at home | Twitter" title="Japan at home | Twitter" /></a></li>
                    <li><a href=""><img src="images/googleplus.png" alt="Japan at home | Google+" title="Japan at home | Google+" /></a></li>
                </ul>

            </div>
            <div class="col-sm-6 text-right legales">

                JAPAN AT HOME - <a href="mailto:info@japanathome.es">info@japanathome.es</a><br/>
                <a href="">Política de privacidad</a> | <a href="#/legal">Aviso Legal</a> | <a href="">Política de cookies</a>

            </div>


        </div>


    </div>

</footer>
