<div>

    <h2>Suggestions</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveSuggestionModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Suggestion
    </button>
    <div class="modal fade" id="saveSuggestionModal" tabindex="-1" role="dialog" aria-labelledby="mySuggestionLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="mySuggestionLabel">Create or edit a Suggestion</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="suggestion.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control"
                                   ng-model="suggestion.email">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control"
                                   ng-model="suggestion.description">
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <input type="number" class="form-control"
                                   ng-model="suggestion.status">
                        </div>
                        <div class="form-group">
                            <label>CreatedOn</label>
                            <input type="date" class="form-control"
                                   ng-model="suggestion.createdOn">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>CreatedOn</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="suggestion in suggestions">
                    <td>{{suggestion.id}}</td>
                    <td>{{suggestion.email}}</td>
                    <td>{{suggestion.description}}</td>
                    <td>{{suggestion.status}}</td>
                    <td>{{suggestion.createdOn}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(suggestion.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(suggestion.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
