.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.alert .popover pre {
    font-size: 10px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

/* ==========================================================================
   Author's custom styles
   ==========================================================================

	Palaeta de colors

	#E4EADC gray first
	#F9FAF7 gray second
	#55211c green
	#D65446 orange
	#F45454 red
	#424649 black

	35ff9a
*/

@font-face {
    font-family: 'got';
    src: url('../fonts/go3v2-webfont.eot');
    src: url('../fonts/go3v2-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/go3v2-webfont.woff') format('woff'),
    url('../fonts/go3v2-webfont.ttf') format('truetype'),
    url('../fonts/go3v2-webfont.svg#gang_of_threeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.basic-color {
    color: #D65446;
}

.text-basic-color {
    color: #666;
}

body {
    font-size: 16px;
    color: #666;
    background-color: #FFFFFF;
    font-family: "Open Sans";
}

h1, h2, h3, h4 {
    color: #666;
}

.big {
    font-size: 45px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 10px;
}

a {
    color: #D65446;
}
a:hover {
    text-decoration: none
}

s {
    text-decoration: none;
}

/** navbar **/
.navbar {
    border: 0px;
    margin-bottom: 0px;
    font-family: "Helvetica Neue";
}

.navbar-default {
    background-color: white;
}
.navbar-default .navbar-nav>li>a {
    color: #D65446;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #55211c;
}

.btn {
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #D65446;
    color: #fff;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
}

.btn:hover {
    background-color: #55211c;
    color: #FFFFFF;
}

.next_step {
    width: 45%;
    float: right;
}

.prev_step {
    width: 45%;
    float: left;
    background-color: #f1c7c3;
}

.prev_step:hover {
    background: #D65446;
}

.transition02 {
    transition: all .2s ease-in-out
}

.panel-group {
    margin-top: 40px;
}

.panel {
    border: none;
}

.panel-group .panel+.panel {
     margin-top: 0px;
}

.zip-form-control {
    width: 50%;
    margin-left: 25%;
}

#main_content a {
    color: #67625E;
}


/* Main Navigation */

#main_navigation a {
    font-size: 12px;
}


/* Main Content top */
#main_content_top {
    margin-top: 30px;
}

h1 strong {
    text-transform: uppercase;
    color: #D65446;
}

#main_content_search {
    padding-bottom: 30px;
}

/* Main Content */

#main_content {
    width: 100%;
    padding: 30px;
    background-color: #F9FAF7;
}

#main_content a:hover .btn {
    background-color: #55211c;
}

#main_content .full_content {
    padding: 30px 60px 40px;
    position: relative
}

#main_content .col-md-3 {
    margin-left: 30px;
    width: 22%;
}

.thumbnail {
    display: block;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-size: 14px;
}

#main_content .restaurant_thmb {
    padding: 20px;
    text-align: center;
}
#main_content .restaurant_thmb img {
    width: 100%;
}

#main_content .restaurant_thmb .btn {
    width: 100%;
}

#main_content .restaurant_menu {
    padding: 20px 15px;
}

#main_content .restaurant_menu .btn {
    width: 100%;
}

#main_content .restaurant_menu h1 {
    margin: 0 10px 0 10px;
}

#main_content .restaurant_menu h2 span {
    color: #D65446;
}

#main_content .restaurant_menu h3 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 50px 15px;
    padding: 0;
    cursor: pointer
}

#main_content .restaurant_menu .noodles_dark {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 40px; top: 20px;
    background: transparent url('../images/japan-at-home-noodles-dark.png') center center no-repeat;
    background-size: 100% 100%; opacity: .1
}

#main_content .restaurant_menu .caret {
    color: #D65446;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#main_content .restaurant_menu .caret-down {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

#main_content .product_name {
    padding: 0px 65px;
    margin: 0;
    line-height: 30px;
}

#main_content .product_pvp {
    text-align: right;
    margin: 0;
    padding: 0 40px 0 0;
    line-height: 30px;

    display: table;
    overflow: hidden;
}

#main_content .product_pvp span {
    display: table-cell;
    vertical-align: middle;
}

#main_content .product_pvp .glyphicon {
    padding: 0;
    margin: 0 0 0 10px;
    color: #D65446;
    font-size: 18px;
    line-height: 10px;
    cursor: pointer
}

#main_content .product_pvp .glyphicon:hover {
    color: #55211c;
}

#main_content .info_iva {
    padding: 60px 65px 0;
}

/* CART */

#main_content .cart {
    padding: 20px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item_selected {
    background-color: #faedec;
}

.title_sushi {
    width: 20px;
    height: 28px;
    background: transparent url('../images/japan-at-home-sushi-little.png') center center no-repeat;
    background-size: 100% 100%;
    display: block;
    float: left;
    margin-right: 10px;
}
.cart .row {
    margin-bottom: 10px;
}

.cart .glyphicon {
    cursor: pointer;
}

.cart-total {
    color: #666;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.cart .btn {
    width: 100%;
}


/* RESUME */

#main_content .full_content .breadcrumb_payment {
    margin-bottom: 40px
}

#main_content .full_content .breadcrumb_payment .btn {
    background: #D65446;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

.top_table {
    background: #D65446;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.top_table a {
    color: #fff !important;
}

.resum_payment_cart .table_color01, .resum_payment_cart .table_color02 {
    min-height: 50px;
    line-height: 50px
}
.resum_payment_cart .table_color01 {
    background: #F9FAF7;
}
.borders {
    border-style: solid;
    border-color: #D65446;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    padding-left: 0px;
    padding-right: 0px;
}
.resum_payment_cart .amount {
    padding: 0px 6px;
    margin: 0;
    height: 30px;
    line-height: 30px;
    width: 50px;
    text-align: center;
}
.resum_payment_cart .glyphicon {
    margin-left: 5px;
    font-size: 16px
}

.resum_payment_cart .total_title {
    font-size: 30px;
    text-align: right;
    padding: 30px 0;
}
.resum_payment_cart .total_pvp{ font-size: 30px; text-align: center; font-weight: bold;	padding: 30px 0;}

/* Transport */

.transport .dark_moto {
    background: transparent url('../images/japan-at-home-transport-moto-dark.png') top right no-repeat;
}

.transport .transport_resum{ padding-left: 25px;}

.finish_payment {
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
    float: right;
    margin-top: 0px;
}

/* Login */
#main_help button {
    width: 100%;
}

/* Main Newsletters */

#main_newsletters {
    width: 100%;
    padding: 20px;
    background: #D65446;
    text-align: center;
    position: relative;
}

#main_newsletters h1 {
    color: #fff;
}
#main_newsletters p {
    color: #fff;   margin-bottom: 20px
}

#main_newsletters .input-group{ width: 500px; margin: 0 auto 20px;}
#main_newsletters .form-control{ border: none; padding: 25px 10px; font-size: 16px; color: #D65446}

#main_newsletters .btn {
    background: #fff;
    color: #D65446;
}

/* Main Help */

#main_help {
    width: 100%;
    padding: 50px 0;
    position: relative;
    background: #f9faf7;
}

#main_help .title_sushi{ width: 28px; height: 36px; background: transparent url('../images/japan-at-home-sushi-little.png') center center no-repeat; display: block; float: left; margin-right: 15px; padding-bottom: 5px}

#main_help .help_item{ margin-top: 30px;}
#main_help .help_item p{ color: #67625E;font-size: 12px; line-height: 18px; padding: 0 80px 15px 20px}
#main_help .help_item .help_noodles{ width: 100%; height: 80px; margin-bottom: 10px; margin-top: -30px; background: transparent url('../images/icon-noodles.png') right center no-repeat;}
#main_help .help_item .help_enter{ width: 100%; height: 80px; margin-bottom: 10px; margin-top: -30px; background: transparent url('../images/icon-enter.png') right center no-repeat;}
#main_help .help_item .help_moto{ width: 100%; height: 80px; margin-bottom: 10px; margin-top: -30px; background: transparent url('../images/icon-moto.png') right center no-repeat;}


/* Main Footer */

#main_footer {
    width: 100%;
    height: 220px;
    background: #404040 url('../images/japan-at-home-bottom.png') right bottom no-repeat;
    color: #fff;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

#main_footer .social {
    margin: 30px 0 0 0;
    padding: 0;
}
#main_footer .social li {
    display: inline-block;
    margin-right: 10px;
}
#main_footer .social img {
    width: 42px;
}

#main_footer .legales {
    margin-top: 30px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
#main_footer .legales a {
    color: #fff;
}